@model ASPMembership2.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
    </dl>
</div>

@{
    if (Model.AllowedMethods.Count > 0)
    {
        <div class="row">
            <div class="col-lg-12">
                <h4 class="text-right">Allowed to:</h4>
                <div class="list-group">
                    @{
                        foreach (var method in Model.AllowedMethods)
                        {
                            <a class="list-group-item">
                                <h5 class="list-group-item-heading">@method.MethodDescription</h5>
                                <p class="text-success text-right">@method.MethodId</p>
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
    }
}
